<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <!-- Configure dependent classes -->
   <bean id="dtdc" class="com.ab.strategy.dp.component.DTDC"/>
   <bean id="bdart" class="com.ab.strategy.dp.component.BlueDart"/>
   <bean id="fdex" class="com.ab.strategy.dp.component.FedEx"/>
   
   <!-- Configrue target class -->
	<bean id="fpkt" class="com.ab.strategy.dp.component.Flipkart">
		<property name="courier" ref="dtdc" />
	</bean>

</beans>